// Home
color: #807D7E;
 font-size: 18px;
 font-family: Roboto Serif;
 font-weight: 500;
 word-wrap: break-word
---
// My Account
color: #807D7E;
 font-size: 18px;
 font-family: Roboto Serif;
 font-weight: 500;
 word-wrap: break-word
---
// Order Detail
color: #3C4242;
 font-size: 18px;
 font-family: Roboto Serif;
 font-weight: 500;
 word-wrap: break-word
---
// Hello Mkuru
color: #3C4242;
 font-size: 28px;
 font-family: Roboto Serif;
 font-style: italic;
 font-weight: 100;
 line-height: 33.50px;
 letter-spacing: 0.56px;
 word-wrap: break-word
---
// Order Details
color: #3C4242;
 font-size: 28px;
 font-family: Roboto Serif;
 font-style: italic;
 font-weight: 100;
 line-height: 33.50px;
 letter-spacing: 0.56px;
 word-wrap: break-word
---
// Welcome to your Account
color: #807D7E;
 font-size: 14px;
 font-family: Roboto Serif;
 font-style: italic;
 font-weight: 100;
 line-height: 33.50px;
 letter-spacing: 0.28px;
 word-wrap: break-word
---
// My orders
color: #807D7E;
 font-size: 18px;
 font-family: Roboto Serif;
 font-style: italic;
 font-weight: 100;
 word-wrap: break-word
---
// Wishlist
color: #807D7E;
 font-size: 18px;
 font-family: Roboto Serif;
 font-style: italic;
 font-weight: 100;
 word-wrap: break-word
---
// Sign out
color: #807D7E;
 font-size: 18px;
 font-family: Roboto Serif;
 font-style: italic;
 font-weight: 100;
 word-wrap: break-word
---
// My info
color: #807D7E;
 font-size: 18px;
 font-family: Roboto Serif;
 font-style: italic;
 font-weight: 100;
 word-wrap: break-word
---
// Order no: #123456789
color: #3C4242;
 font-size: 20px;
 font-family: Roboto Serif;
 font-style: italic;
 font-weight: 100;
 word-wrap: break-word
---
// Placed On
color: #807D7E;
 font-size: 16px;
 font-family: Roboto Serif;
 font-weight: 500;
 word-wrap: break-word
---
//   
color: #807D7E;
 font-size: 16px;
 font-family: Roboto Serif;
 font-style: italic;
 font-weight: 100;
 word-wrap: break-word
---
// 7 Aug 2023 6:40 PM
color: #807D7E;
 font-size: 16px;
 font-family: Roboto Serif;
 font-weight: 500;
 word-wrap: break-word
---
//  
color: #BEBCBD;
 font-size: 16px;
 font-family: Roboto Serif;
 font-weight: 500;
 word-wrap: break-word
---
// Total :
color: #807D7E;
 font-size: 18px;
 font-family: Roboto Serif;
 font-style: italic;
 font-weight: 100;
 word-wrap: break-word
---
//  Ksh 3,000.00
color: #3C4242;
 font-size: 18px;
 font-family: Roboto Serif;
 font-style: italic;
 font-weight: 100;
 word-wrap: break-word
---
// Order Placed
color: black;
 font-size: 14px;
 font-family: Roboto Serif;
 font-style: italic;
 font-weight: 100;
 word-wrap: break-word
---
// Inprogress
color: black;
 font-size: 14px;
 font-family: Roboto Serif;
 font-style: italic;
 font-weight: 100;
 word-wrap: break-word
---
// shipped
color: black;
 font-size: 14px;
 font-family: Roboto Serif;
 font-style: italic;
 font-weight: 100;
 word-wrap: break-word
---
// Delivered
color: #BEBCBD;
 font-size: 14px;
 font-family: Roboto Serif;
 font-style: italic;
 font-weight: 100;
 word-wrap: break-word
---
// 07 Aug 2023 3:40 PM   
color: #807D7E;
 font-size: 16px;
 font-family: Roboto Serif;
 font-style: italic;
 font-weight: 100;
 word-wrap: break-word
---
// Your order has been successfully verified.
color: #3C4242;
 font-size: 16px;
 font-family: Roboto Serif;
 font-style: italic;
 font-weight: 100;
 word-wrap: break-word
---
// Black Printed T-shirt
color: #3C4242;
 font-size: 16px;
 font-family: Abel;
 font-weight: 400;
 word-wrap: break-word
---
// Colour : 
color: #3C4242;
 font-size: 14px;
 font-family: Abel;
 font-weight: 400;
 word-wrap: break-word
---
// Pink
color: #BEBCBD;
 font-size: 14px;
 font-family: Abel;
 font-weight: 400;
 word-wrap: break-word
---
//  
color: #3C4242;
 font-size: 14px;
 font-family: Abel;
 font-weight: 400;
 word-wrap: break-word
---
// Qty : 
color: #3C4242;
 font-size: 14px;
 font-family: Abel;
 font-weight: 400;
 word-wrap: break-word
---
// 1
color: #BEBCBD;
 font-size: 14px;
 font-family: Abel;
 font-weight: 400;
 word-wrap: break-word
---
// Total : ksh 3000
color: #807D7E;
 font-size: 14px;
 font-family: Abel;
 font-weight: 400;
 word-wrap: break-word
---
// android app on
color: white;
 font-size: 10px;
 font-family: Abhaya Libre;
 font-weight: 400;
 word-wrap: break-word
---
// Google Play
color: white;
 font-size: 18px;
 font-family: Abhaya Libre;
 font-weight: 400;
 word-wrap: break-word
---
// Available on the
color: white;
 font-size: 10px;
 font-family: Abhaya Libre;
 font-weight: 400;
 word-wrap: break-word
---
// App Store
color: white;
 font-size: 18px;
 font-family: Abhaya Libre;
 font-weight: 400;
 word-wrap: break-word
---
// Location
color: #F6F6F6;
 font-size: 28.58px;
 font-family: Actor;
 font-weight: 400;
 line-height: 61.99px;
 word-wrap: break-word
---
// support@kibanda.co.ke
color: #F6F6F6;
 font-size: 18px;
 font-family: Aclonica;
 font-weight: 400;
 line-height: 39.04px;
 word-wrap: break-word
---
// Kibanda Cultural Crafts
color: #F6F6F6;
 font-size: 18px;
 font-family: Aclonica;
 font-weight: 400;
 line-height: 39.04px;
 word-wrap: break-word
---
// More Info
color: #F6F6F6;
 font-size: 28.58px;
 font-family: Actor;
 font-weight: 400;
 line-height: 61.99px;
 word-wrap: break-word
---
// Term and Conditions
color: #F6F6F6;
 font-size: 18px;
 font-family: Aclonica;
 font-weight: 400;
 line-height: 39.04px;
 word-wrap: break-word
---
// Privacy Policy
color: #F6F6F6;
 font-size: 18px;
 font-family: Aclonica;
 font-weight: 400;
 line-height: 39.04px;
 word-wrap: break-word
---
// Shipping Policy
color: #F6F6F6;
 font-size: 18px;
 font-family: Aclonica;
 font-weight: 400;
 line-height: 39.04px;
 word-wrap: break-word
---
// Sitemap
color: #F6F6F6;
 font-size: 18px;
 font-family: Aclonica;
 font-weight: 400;
 line-height: 39.04px;
 word-wrap: break-word
---
// Need Help
color: #F6F6F6;
 font-size: 28.58px;
 font-family: Actor;
 font-weight: 400;
 line-height: 61.99px;
 word-wrap: break-word
---
// Contact Us
color: #F6F6F6;
 font-size: 18px;
 font-family: Aclonica;
 font-weight: 400;
 line-height: 39.04px;
 word-wrap: break-word
---
// Track Order
color: #F6F6F6;
 font-size: 18px;
 font-family: Aclonica;
 font-weight: 400;
 line-height: 39.04px;
 word-wrap: break-word
---
// Returns & Refunds
color: #F6F6F6;
 font-size: 18px;
 font-family: Aclonica;
 font-weight: 400;
 line-height: 39.04px;
 word-wrap: break-word
---
// FAQ's
color: #F6F6F6;
 font-size: 18px;
 font-family: Aclonica;
 font-weight: 400;
 line-height: 39.04px;
 word-wrap: break-word
---
// Career
color: #F6F6F6;
 font-size: 18px;
 font-family: Aclonica;
 font-weight: 400;
 line-height: 39.04px;
 word-wrap: break-word
---
// Company
color: #F6F6F6;
 font-size: 28.58px;
 font-family: Actor;
 font-weight: 400;
 line-height: 61.99px;
 word-wrap: break-word
---
// About Us
color: #F6F6F6;
 font-size: 18px;
 font-family: Aclonica;
 font-weight: 400;
 line-height: 39.04px;
 word-wrap: break-word
---
// Download The App 
color: #F6F6F6;
 font-size: 28.58px;
 font-family: Actor;
 font-weight: 400;
 line-height: 61.99px;
 word-wrap: break-word
---
// Popular Categories
color: #F6F6F6;
 font-size: 28.58px;
 font-family: Actor;
 font-weight: 400;
 line-height: 57.16px;
 word-wrap: break-word
---
// in
color: #2A2F2F;
 font-size: 17.09px;
 font-family: Roboto;
 font-weight: 700;
 line-height: 28.48px;
 letter-spacing: 0.34px;
 word-wrap: break-word
---
// Copyright © 2023 Kibanda  Cultural Crafts Ltd. All rights reserved.
color: white;
 font-size: 18px;
 font-family: Actor;
 font-weight: 400;
 line-height: 36px;
 word-wrap: break-word
---
// Search
color: #807D7E;
 font-size: 16px;
 font-family: Roboto Serif;
 font-weight: 400;
 word-wrap: break-word
---
// Shop
color: #3C4242;
 font-size: 22px;
 font-family: Roboto Serif;
 font-weight: 400;
 word-wrap: break-word
---
// Gifts
color: #807D7E;
 font-size: 22px;
 font-family: Roboto Serif;
 font-weight: 400;
 word-wrap: break-word
---
// Specials
color: #807D7E;
 font-size: 22px;
 font-family: Roboto Serif;
 font-weight: 400;
 word-wrap: break-word
---
// Carvings
color: #807D7E;
 font-size: 22px;
 font-family: Roboto Serif;
 font-weight: 400;
 word-wrap: break-word
---
// Kibanda Cultural Crafts
color: #3C4242;
 font-size: 34.06px;
 font-family: Roboto Serif;
 font-weight: 400;
 word-wrap: break-word
---
// Unveiling the Soul of African Artistry
color: black;
 font-size: 10px;
 font-family: Roboto Serif;
 font-weight: 400;
 word-wrap: break-word

 // Home
color: #807D7E;
 font-size: 18px;
 font-family: Aclonica;
 font-weight: 400;
 word-wrap: break-word
---
// My Account
color: #807D7E;
 font-size: 18px;
 font-family: Aclonica;
 font-weight: 400;
 word-wrap: break-word
---
// My Orders
color: #3C4242;
 font-size: 18px;
 font-family: Aclonica;
 font-weight: 400;
 word-wrap: break-word
---
// Hello Mkuu
color: #3C4242;
 font-size: 28px;
 font-family: Abel;
 font-weight: 400;
 line-height: 33.50px;
 letter-spacing: 0.56px;
 word-wrap: break-word
---
// My Orders
color: #3C4242;
 font-size: 28px;
 font-family: Abel;
 font-weight: 400;
 line-height: 33.50px;
 letter-spacing: 0.56px;
 word-wrap: break-word
---
// Welcome to your Account
color: #807D7E;
 font-size: 14px;
 font-family: Abel;
 font-weight: 400;
 line-height: 33.50px;
 letter-spacing: 0.28px;
 word-wrap: break-word
---
// My orders
color: #807D7E;
 font-size: 18px;
 font-family: Abel;
 font-weight: 400;
 word-wrap: break-word
---
// Sign out
color: #807D7E;
 font-size: 18px;
 font-family: Abel;
 font-weight: 400;
 word-wrap: break-word
---
// My info
color: #807D7E;
 font-size: 18px;
 font-family: Abel;
 font-weight: 400;
 word-wrap: break-word
---
// Active
color: #3C4242;
 font-size: 22px;
 font-family: Abel;
 font-weight: 400;
 line-height: 33.50px;
 letter-spacing: 0.44px;
 word-wrap: break-word
---
// Cancelled
color: #3C4242;
 font-size: 22px;
 font-family: Abel;
 font-weight: 400;
 line-height: 33.50px;
 letter-spacing: 0.44px;
 word-wrap: break-word
---
// Completed
color: #3C4242;
 font-size: 22px;
 font-family: Abel;
 font-weight: 400;
 line-height: 33.50px;
 letter-spacing: 0.44px;
 word-wrap: break-word
---
// Order no: #123456789
color: #3C4242;
 font-size: 20px;
 font-family: Abel;
 font-weight: 400;
 word-wrap: break-word
---
// Order Date :
color: #807D7E;
 font-size: 14px;
 font-family: Abel;
 font-weight: 400;
 word-wrap: break-word
---
//  
color: #BEBCBD;
 font-size: 14px;
 font-family: Abel;
 font-weight: 400;
 word-wrap: break-word
---
// 2 June 2023 2:40 PM
color: #BEBCBD;
 font-size: 14px;
 font-family: Abhaya Libre;
 font-weight: 400;
 word-wrap: break-word
---
//  
color: #BEBCBD;
 font-size: 14px;
 font-family: Abel;
 font-weight: 400;
 word-wrap: break-word
---
// Order Status :
color: #807D7E;
 font-size: 14px;
 font-family: Abel;
 font-weight: 400;
 word-wrap: break-word
---
//  
color: #BEBCBD;
 font-size: 14px;
 font-family: Abel;
 font-weight: 400;
 word-wrap: break-word
---
// Inprogress
color: #BEBCBD;
 font-size: 14px;
 font-family: Abhaya Libre;
 font-weight: 400;
 word-wrap: break-word
---
//  
color: #BEBCBD;
 font-size: 14px;
 font-family: Abel;
 font-weight: 400;
 word-wrap: break-word
---
// Estimated Delivery Date :
color: #807D7E;
 font-size: 14px;
 font-family: Abel;
 font-weight: 400;
 word-wrap: break-word
---
//  
color: #BEBCBD;
 font-size: 14px;
 font-family: Abel;
 font-weight: 400;
 word-wrap: break-word
---
// 8 June 2023 
color: #BEBCBD;
 font-size: 14px;
 font-family: Abhaya Libre;
 font-weight: 400;
 word-wrap: break-word
---
// Payment Method :
color: #807D7E;
 font-size: 14px;
 font-family: Abel;
 font-weight: 400;
 word-wrap: break-word
---
//  
color: #BEBCBD;
 font-size: 14px;
 font-family: Abel;
 font-weight: 400;
 word-wrap: break-word
---
// Cash on delivery 
color: #BEBCBD;
 font-size: 14px;
 font-family: Abhaya Libre;
 font-weight: 400;
 word-wrap: break-word
---
// Black Printed T-shirt
color: #3C4242;
 font-size: 16px;
 font-family: Abel;
 font-weight: 400;
 word-wrap: break-word
---
// Colour : 
color: #3C4242;
 font-size: 14px;
 font-family: Abel;
 font-weight: 400;
 word-wrap: break-word
---
// Pink
color: #BEBCBD;
 font-size: 14px;
 font-family: Abel;
 font-weight: 400;
 word-wrap: break-word
---
//  
color: #3C4242;
 font-size: 14px;
 font-family: Abel;
 font-weight: 400;
 word-wrap: break-word
---
// Qty : 
color: #3C4242;
 font-size: 14px;
 font-family: Abel;
 font-weight: 400;
 word-wrap: break-word
---
// 1
color: #BEBCBD;
 font-size: 14px;
 font-family: Abel;
 font-weight: 400;
 word-wrap: break-word
---
// Total : Ksh 3000
color: #807D7E;
 font-size: 14px;
 font-family: Abel;
 font-weight: 400;
 word-wrap: break-word
---
// View Detail
color: white;
 font-size: 18px;
 font-family: Aclonica;
 font-weight: 400;
 word-wrap: break-word
---
// android app on
color: white;
 font-size: 10px;
 font-family: Abhaya Libre;
 font-weight: 400;
 word-wrap: break-word
---
// Google Play
color: white;
 font-size: 18px;
 font-family: Abhaya Libre;
 font-weight: 400;
 word-wrap: break-word
---
// Available on the
color: white;
 font-size: 10px;
 font-family: Abhaya Libre;
 font-weight: 400;
 word-wrap: break-word
---
// App Store
color: white;
 font-size: 18px;
 font-family: Abhaya Libre;
 font-weight: 400;
 word-wrap: break-word
---
// Location
color: #F6F6F6;
 font-size: 28.58px;
 font-family: Actor;
 font-weight: 400;
 line-height: 61.99px;
 word-wrap: break-word
---
// support@kibanda.co.ke
color: #F6F6F6;
 font-size: 18px;
 font-family: Aclonica;
 font-weight: 400;
 line-height: 39.04px;
 word-wrap: break-word
---
// Kibanda Cultural Crafts
color: #F6F6F6;
 font-size: 18px;
 font-family: Aclonica;
 font-weight: 400;
 line-height: 39.04px;
 word-wrap: break-word
---
// More Info
color: #F6F6F6;
 font-size: 28.58px;
 font-family: Actor;
 font-weight: 400;
 line-height: 61.99px;
 word-wrap: break-word
---
// Term and Conditions
color: #F6F6F6;
 font-size: 18px;
 font-family: Aclonica;
 font-weight: 400;
 line-height: 39.04px;
 word-wrap: break-word
---
// Privacy Policy
color: #F6F6F6;
 font-size: 18px;
 font-family: Aclonica;
 font-weight: 400;
 line-height: 39.04px;
 word-wrap: break-word
---
// Shipping Policy
color: #F6F6F6;
 font-size: 18px;
 font-family: Aclonica;
 font-weight: 400;
 line-height: 39.04px;
 word-wrap: break-word
---
// Sitemap
color: #F6F6F6;
 font-size: 18px;
 font-family: Aclonica;
 font-weight: 400;
 line-height: 39.04px;
 word-wrap: break-word
---
// Need Help
color: #F6F6F6;
 font-size: 28.58px;
 font-family: Actor;
 font-weight: 400;
 line-height: 61.99px;
 word-wrap: break-word
---
// Contact Us
color: #F6F6F6;
 font-size: 18px;
 font-family: Aclonica;
 font-weight: 400;
 line-height: 39.04px;
 word-wrap: break-word
---
// Track Order
color: #F6F6F6;
 font-size: 18px;
 font-family: Aclonica;
 font-weight: 400;
 line-height: 39.04px;
 word-wrap: break-word
---
// Returns & Refunds
color: #F6F6F6;
 font-size: 18px;
 font-family: Aclonica;
 font-weight: 400;
 line-height: 39.04px;
 word-wrap: break-word
---
// FAQ's
color: #F6F6F6;
 font-size: 18px;
 font-family: Aclonica;
 font-weight: 400;
 line-height: 39.04px;
 word-wrap: break-word
---
// Career
color: #F6F6F6;
 font-size: 18px;
 font-family: Aclonica;
 font-weight: 400;
 line-height: 39.04px;
 word-wrap: break-word
---
// Company
color: #F6F6F6;
 font-size: 28.58px;
 font-family: Actor;
 font-weight: 400;
 line-height: 61.99px;
 word-wrap: break-word
---
// About Us
color: #F6F6F6;
 font-size: 18px;
 font-family: Aclonica;
 font-weight: 400;
 line-height: 39.04px;
 word-wrap: break-word
---
// Download The App 
color: #F6F6F6;
 font-size: 28.58px;
 font-family: Actor;
 font-weight: 400;
 line-height: 61.99px;
 word-wrap: break-word
---
// Popular Categories
color: #F6F6F6;
 font-size: 28.58px;
 font-family: Actor;
 font-weight: 400;
 line-height: 57.16px;
 word-wrap: break-word
---
// in
color: #2A2F2F;
 font-size: 17.09px;
 font-family: Roboto;
 font-weight: 700;
 line-height: 28.48px;
 letter-spacing: 0.34px;
 word-wrap: break-word
---
// Copyright © 2023 Kibanda  Cultural Crafts Ltd. All rights reserved.
color: white;
 font-size: 18px;
 font-family: Actor;
 font-weight: 400;
 line-height: 36px;
 word-wrap: break-word
---
// android app on
color: white;
 font-size: 10px;
 font-family: Abhaya Libre;
 font-weight: 400;
 word-wrap: break-word
---
// Google Play
color: white;
 font-size: 18px;
 font-family: Abhaya Libre;
 font-weight: 400;
 word-wrap: break-word
---
// Available on the
color: white;
 font-size: 10px;
 font-family: Abhaya Libre;
 font-weight: 400;
 word-wrap: break-word
---
// App Store
color: white;
 font-size: 18px;
 font-family: Abhaya Libre;
 font-weight: 400;
 word-wrap: break-word
---
// Location
color: #F6F6F6;
 font-size: 28.58px;
 font-family: Actor;
 font-weight: 400;
 line-height: 61.99px;
 word-wrap: break-word
---
// support@kibanda.co.ke
color: #F6F6F6;
 font-size: 18px;
 font-family: Aclonica;
 font-weight: 400;
 line-height: 39.04px;
 word-wrap: break-word
---
// Kibanda Cultural Crafts
color: #F6F6F6;
 font-size: 18px;
 font-family: Aclonica;
 font-weight: 400;
 line-height: 39.04px;
 word-wrap: break-word
---
// More Info
color: #F6F6F6;
 font-size: 28.58px;
 font-family: Actor;
 font-weight: 400;
 line-height: 61.99px;
 word-wrap: break-word
---
// Term and Conditions
color: #F6F6F6;
 font-size: 18px;
 font-family: Aclonica;
 font-weight: 400;
 line-height: 39.04px;
 word-wrap: break-word
---
// Privacy Policy
color: #F6F6F6;
 font-size: 18px;
 font-family: Aclonica;
 font-weight: 400;
 line-height: 39.04px;
 word-wrap: break-word
---
// Shipping Policy
color: #F6F6F6;
 font-size: 18px;
 font-family: Aclonica;
 font-weight: 400;
 line-height: 39.04px;
 word-wrap: break-word
---
// Sitemap
color: #F6F6F6;
 font-size: 18px;
 font-family: Aclonica;
 font-weight: 400;
 line-height: 39.04px;
 word-wrap: break-word
---
// Need Help
color: #F6F6F6;
 font-size: 28.58px;
 font-family: Actor;
 font-weight: 400;
 line-height: 61.99px;
 word-wrap: break-word
---
// Contact Us
color: #F6F6F6;
 font-size: 18px;
 font-family: Aclonica;
 font-weight: 400;
 line-height: 39.04px;
 word-wrap: break-word
---
// Track Order
color: #F6F6F6;
 font-size: 18px;
 font-family: Aclonica;
 font-weight: 400;
 line-height: 39.04px;
 word-wrap: break-word
---
// Returns & Refunds
color: #F6F6F6;
 font-size: 18px;
 font-family: Aclonica;
 font-weight: 400;
 line-height: 39.04px;
 word-wrap: break-word
---
// FAQ's
color: #F6F6F6;
 font-size: 18px;
 font-family: Aclonica;
 font-weight: 400;
 line-height: 39.04px;
 word-wrap: break-word
---
// Career
color: #F6F6F6;
 font-size: 18px;
 font-family: Aclonica;
 font-weight: 400;
 line-height: 39.04px;
 word-wrap: break-word
---
// Company
color: #F6F6F6;
 font-size: 28.58px;
 font-family: Actor;
 font-weight: 400;
 line-height: 61.99px;
 word-wrap: break-word
---
// About Us
color: #F6F6F6;
 font-size: 18px;
 font-family: Aclonica;
 font-weight: 400;
 line-height: 39.04px;
 word-wrap: break-word
---
// Download The App 
color: #F6F6F6;
 font-size: 28.58px;
 font-family: Actor;
 font-weight: 400;
 line-height: 61.99px;
 word-wrap: break-word
---
// Popular Categories
color: #F6F6F6;
 font-size: 28.58px;
 font-family: Actor;
 font-weight: 400;
 line-height: 57.16px;
 word-wrap: break-word
---
// in
color: #2A2F2F;
 font-size: 17.09px;
 font-family: Roboto;
 font-weight: 700;
 line-height: 28.48px;
 letter-spacing: 0.34px;
 word-wrap: break-word
---
// Copyright © 2023 Kibanda  Cultural Crafts Ltd. All rights reserved.
color: white;
 font-size: 18px;
 font-family: Actor;
 font-weight: 400;
 line-height: 36px;
 word-wrap: break-word

 // Continue Shopping
color: white;
 font-size: 18px;
 font-family: Aclonica;
 font-weight: 400;
 word-wrap: break-word
---
// Your Order is<br/>Confirmed
color: #3C4242;
 font-size: 30px;
 font-family: Abel;
 font-weight: 400;
 line-height: 33.36px;
 word-wrap: break-word
---
// android app on
color: white;
 font-size: 10px;
 font-family: Abhaya Libre;
 font-weight: 400;
 word-wrap: break-word
---
// Google Play
color: white;
 font-size: 18px;
 font-family: Abhaya Libre;
 font-weight: 400;
 word-wrap: break-word
---
// Available on the
color: white;
 font-size: 10px;
 font-family: Abhaya Libre;
 font-weight: 400;
 word-wrap: break-word
---
// App Store
color: white;
 font-size: 18px;
 font-family: Abhaya Libre;
 font-weight: 400;
 word-wrap: break-word
---
// Location
color: #F6F6F6;
 font-size: 28.58px;
 font-family: Actor;
 font-weight: 400;
 line-height: 61.99px;
 word-wrap: break-word
---
// support@kibanda.co.ke
color: #F6F6F6;
 font-size: 18px;
 font-family: Aclonica;
 font-weight: 400;
 line-height: 39.04px;
 word-wrap: break-word
---
// Kibanda Cultural Crafts
color: #F6F6F6;
 font-size: 18px;
 font-family: Aclonica;
 font-weight: 400;
 line-height: 39.04px;
 word-wrap: break-word
---
// More Info
color: #F6F6F6;
 font-size: 28.58px;
 font-family: Actor;
 font-weight: 400;
 line-height: 61.99px;
 word-wrap: break-word
---
// Term and Conditions
color: #F6F6F6;
 font-size: 18px;
 font-family: Aclonica;
 font-weight: 400;
 line-height: 39.04px;
 word-wrap: break-word
---
// Privacy Policy
color: #F6F6F6;
 font-size: 18px;
 font-family: Aclonica;
 font-weight: 400;
 line-height: 39.04px;
 word-wrap: break-word
---
// Shipping Policy
color: #F6F6F6;
 font-size: 18px;
 font-family: Aclonica;
 font-weight: 400;
 line-height: 39.04px;
 word-wrap: break-word
---
// Sitemap
color: #F6F6F6;
 font-size: 18px;
 font-family: Aclonica;
 font-weight: 400;
 line-height: 39.04px;
 word-wrap: break-word
---
// Need Help
color: #F6F6F6;
 font-size: 28.58px;
 font-family: Actor;
 font-weight: 400;
 line-height: 61.99px;
 word-wrap: break-word
---
// Contact Us
color: #F6F6F6;
 font-size: 18px;
 font-family: Aclonica;
 font-weight: 400;
 line-height: 39.04px;
 word-wrap: break-word
---
// Track Order
color: #F6F6F6;
 font-size: 18px;
 font-family: Aclonica;
 font-weight: 400;
 line-height: 39.04px;
 word-wrap: break-word
---
// Returns & Refunds
color: #F6F6F6;
 font-size: 18px;
 font-family: Aclonica;
 font-weight: 400;
 line-height: 39.04px;
 word-wrap: break-word
---
// FAQ's
color: #F6F6F6;
 font-size: 18px;
 font-family: Aclonica;
 font-weight: 400;
 line-height: 39.04px;
 word-wrap: break-word
---
// Career
color: #F6F6F6;
 font-size: 18px;
 font-family: Aclonica;
 font-weight: 400;
 line-height: 39.04px;
 word-wrap: break-word
---
// Company
color: #F6F6F6;
 font-size: 28.58px;
 font-family: Actor;
 font-weight: 400;
 line-height: 61.99px;
 word-wrap: break-word
---
// About Us
color: #F6F6F6;
 font-size: 18px;
 font-family: Aclonica;
 font-weight: 400;
 line-height: 39.04px;
 word-wrap: break-word
---
// Download The App 
color: #F6F6F6;
 font-size: 28.58px;
 font-family: Actor;
 font-weight: 400;
 line-height: 61.99px;
 word-wrap: break-word
---
// Popular Categories
color: #F6F6F6;
 font-size: 28.58px;
 font-family: Actor;
 font-weight: 400;
 line-height: 57.16px;
 word-wrap: break-word
---
// in
color: #2A2F2F;
 font-size: 17.09px;
 font-family: Roboto;
 font-weight: 700;
 line-height: 28.48px;
 letter-spacing: 0.34px;
 word-wrap: break-word
---
// Copyright © 2023 Kibanda  Cultural Crafts Ltd. All rights reserved.
color: white;
 font-size: 18px;
 font-family: Actor;
 font-weight: 400;
 line-height: 36px;
 word-wrap: break-word
---
// Search
color: #807D7E;
 font-size: 16px;
 font-family: Roboto Serif;
 font-weight: 400;
 word-wrap: break-word
---
// Shop
color: #3C4242;
 font-size: 22px;
 font-family: Roboto Serif;
 font-weight: 400;
 word-wrap: break-word
---
// Gifts
color: #807D7E;
 font-size: 22px;
 font-family: Roboto Serif;
 font-weight: 400;
 word-wrap: break-word
---
// Specials
color: #807D7E;
 font-size: 22px;
 font-family: Roboto Serif;
 font-weight: 400;
 word-wrap: break-word
---
// Carvings
color: #807D7E;
 font-size: 22px;
 font-family: Roboto Serif;
 font-weight: 400;
 word-wrap: break-word
---
// Kibanda Cultural Crafts
color: #3C4242;
 font-size: 34.06px;
 font-family: Roboto Serif;
 font-weight: 400;
 word-wrap: break-word
---
// Unveiling the Soul of African Artistry
color: black;
 font-size: 10px;
 font-family: Roboto Serif;
 font-weight: 400;
 word-wrap: break-word

 // Shipping Address
color: #3C4242;
 font-size: 22px;
 font-family: Abel;
 font-weight: 400;
 line-height: 33.50px;
 letter-spacing: 0.44px;
 word-wrap: break-word
---
// Payment Method
color: #3C4242;
 font-size: 22px;
 font-family: Abel;
 font-weight: 400;
 line-height: 33.50px;
 letter-spacing: 0.44px;
 word-wrap: break-word
---
// Shipping Method
color: #3C4242;
 font-size: 22px;
 font-family: Abel;
 font-weight: 400;
 line-height: 33.50px;
 letter-spacing: 0.44px;
 word-wrap: break-word
---
// Order Summary
color: #3C4242;
 font-size: 24px;
 font-family: Abel;
 font-weight: 400;
 word-wrap: break-word
---
// Blue Flower Print Crop Top 
color: #3C4242;
 font-size: 14px;
 font-family: Actor;
 font-weight: 400;
 letter-spacing: 0.28px;
 word-wrap: break-word
---
// x 1
color: #807D7E;
 font-size: 14px;
 font-family: Actor;
 font-weight: 400;
 letter-spacing: 0.28px;
 word-wrap: break-word
---
// Color : 
color: #3C4242;
 font-size: 14px;
 font-family: Actor;
 font-weight: 400;
 letter-spacing: 0.28px;
 word-wrap: break-word
---
// Yellow
color: #807D7E;
 font-size: 14px;
 font-family: Aclonica;
 font-weight: 400;
 letter-spacing: 0.28px;
 word-wrap: break-word
---
// Ksh. 2500
color: #807D7E;
 font-size: 14px;
 font-family: Actor;
 font-weight: 400;
 letter-spacing: 0.28px;
 word-wrap: break-word
---
// Subtotal
color: #3C4242;
 font-size: 18px;
 font-family: Actor;
 font-weight: 400;
 letter-spacing: 0.36px;
 word-wrap: break-word
---
//  
color: black;
 font-size: 18px;
 font-family: Actor;
 font-weight: 400;
 letter-spacing: 0.36px;
 word-wrap: break-word
---
// ( 1 items )
color: #807D7E;
 font-size: 18px;
 font-family: Aclonica;
 font-weight: 400;
 letter-spacing: 0.36px;
 word-wrap: break-word
---
// Shipping
color: #3C4242;
 font-size: 18px;
 font-family: Actor;
 font-weight: 400;
 letter-spacing: 0.36px;
 word-wrap: break-word
---
// Total
color: #3C4242;
 font-size: 18px;
 font-family: Actor;
 font-weight: 400;
 letter-spacing: 0.36px;
 word-wrap: break-word
---
// Ksh. 2500
color: #3C4242;
 font-size: 18px;
 font-family: Actor;
 font-weight: 400;
 letter-spacing: 0.36px;
 word-wrap: break-word
---
// Ksh. 500
color: #3C4242;
 font-size: 18px;
 font-family: Actor;
 font-weight: 400;
 letter-spacing: 0.36px;
 word-wrap: break-word
---
// Ksh. 3000
color: #3C4242;
 font-size: 18px;
 font-family: Actor;
 font-weight: 400;
 letter-spacing: 0.36px;
 word-wrap: break-word
---
// Phone*
color: #3C4242;
 font-size: 16px;
 font-family: Abel;
 font-weight: 400;
 letter-spacing: 0.32px;
 word-wrap: break-word
---
// Phone
color: #807D7E;
 font-size: 14px;
 font-family: Abhaya Libre;
 font-weight: 400;
 word-wrap: break-word
---
// City*
color: #3C4242;
 font-size: 16px;
 font-family: Abel;
 font-weight: 400;
 letter-spacing: 0.32px;
 word-wrap: break-word
---
// Town / City
color: #807D7E;
 font-size: 14px;
 font-family: Abhaya Libre;
 font-weight: 400;
 word-wrap: break-word
---
// State*
color: #3C4242;
 font-size: 16px;
 font-family: Abel;
 font-weight: 400;
 letter-spacing: 0.32px;
 word-wrap: break-word
---
// State
color: #807D7E;
 font-size: 14px;
 font-family: Abhaya Libre;
 font-weight: 400;
 word-wrap: break-word
---
// Postal Code*
color: #3C4242;
 font-size: 16px;
 font-family: Abel;
 font-weight: 400;
 letter-spacing: 0.32px;
 word-wrap: break-word
---
// Postal Code
color: #807D7E;
 font-size: 14px;
 font-family: Abhaya Libre;
 font-weight: 400;
 word-wrap: break-word
---
// First Name*
color: #3C4242;
 font-size: 16px;
 font-family: Abel;
 font-weight: 400;
 letter-spacing: 0.32px;
 word-wrap: break-word
---
// First Name
color: #807D7E;
 font-size: 14px;
 font-family: Abhaya Libre;
 font-weight: 400;
 word-wrap: break-word
---
// Last Name*
color: #3C4242;
 font-size: 16px;
 font-family: Abel;
 font-weight: 400;
 letter-spacing: 0.32px;
 word-wrap: break-word
---
// Last Name
color: #807D7E;
 font-size: 14px;
 font-family: Abhaya Libre;
 font-weight: 400;
 word-wrap: break-word
---
// Country / Region*
color: #3C4242;
 font-size: 16px;
 font-family: Abel;
 font-weight: 400;
 letter-spacing: 0.32px;
 word-wrap: break-word
---
// Country / Region
color: #807D7E;
 font-size: 14px;
 font-family: Abhaya Libre;
 font-weight: 400;
 word-wrap: break-word
---
// Company Name
color: #3C4242;
 font-size: 16px;
 font-family: Abel;
 font-weight: 400;
 letter-spacing: 0.32px;
 word-wrap: break-word
---
// Company (optional)
color: #807D7E;
 font-size: 14px;
 font-family: Abhaya Libre;
 font-weight: 400;
 word-wrap: break-word
---
// Street Address*
color: #3C4242;
 font-size: 16px;
 font-family: Abel;
 font-weight: 400;
 letter-spacing: 0.32px;
 word-wrap: break-word
---
// House number and street name
color: #807D7E;
 font-size: 14px;
 font-family: Abhaya Libre;
 font-weight: 400;
 word-wrap: break-word
---
// Apt, suite, unit
color: #3C4242;
 font-size: 16px;
 font-family: Abel;
 font-weight: 400;
 letter-spacing: 0.32px;
 word-wrap: break-word
---
// apartment, suite, unit, etc. (optional)
color: #807D7E;
 font-size: 14px;
 font-family: Abhaya Libre;
 font-weight: 400;
 word-wrap: break-word
---
// Continue to delivery
color: white;
 font-size: 18px;
 font-family: Aclonica;
 font-weight: 400;
 word-wrap: break-word
---
// Save my information for a faster checkout
color: #3C4242;
 font-size: 18px;
 font-family: Abhaya Libre;
 font-weight: 400;
 word-wrap: break-word
---
// Select the address that matches your card or payment method.
color: #3C4242;
 font-size: 16px;
 font-family: Abhaya Libre;
 font-weight: 400;
 word-wrap: break-word
---
// All transactions are secure and encrypted.
color: #3C4242;
 font-size: 16px;
 font-family: Abhaya Libre;
 font-weight: 400;
 word-wrap: break-word
---
// Same as Billing address
color: #3C4242;
 font-size: 20px;
 font-family: Actor;
 font-weight: 400;
 word-wrap: break-word
---
// Use a different shipping address
color: #3C4242;
 font-size: 20px;
 font-family: Actor;
 font-weight: 400;
 word-wrap: break-word
---
// Arrives by Monday, June 7
color: #3C4242;
 font-size: 20px;
 font-family: Actor;
 font-weight: 400;
 word-wrap: break-word
---
// Delivery Charges
color: #3C4242;
 font-size: 20px;
 font-family: Actor;
 font-weight: 400;
 word-wrap: break-word
---
// Ksh. 500
color: #3C4242;
 font-size: 20px;
 font-family: Actor;
 font-weight: 400;
 word-wrap: break-word
---
// Additional fess may apply
color: #807D7E;
 font-size: 16px;
 font-family: Aclonica;
 font-weight: 400;
 word-wrap: break-word
---
// Card number
color: #807D7E;
 font-size: 14px;
 font-family: Abhaya Libre;
 font-weight: 400;
 word-wrap: break-word
---
// Name of card
color: #807D7E;
 font-size: 14px;
 font-family: Abhaya Libre;
 font-weight: 400;
 word-wrap: break-word
---
// Expiration date (MM/YY)
color: #807D7E;
 font-size: 14px;
 font-family: Abhaya Libre;
 font-weight: 400;
 word-wrap: break-word
---
// Security Code
color: #807D7E;
 font-size: 14px;
 font-family: Abhaya Libre;
 font-weight: 400;
 word-wrap: break-word
---
// Credit Card
color: #3C4242;
 font-size: 20px;
 font-family: Actor;
 font-weight: 400;
 word-wrap: break-word
---
// We accept all major credit cards.
color: #3C4242;
 font-size: 16px;
 font-family: Abhaya Libre;
 font-weight: 400;
 word-wrap: break-word
---
// Cash on delivery
color: #3C4242;
 font-size: 20px;
 font-family: Actor;
 font-weight: 400;
 word-wrap: break-word
---
// Pay with cash upon delivery.
color: #3C4242;
 font-size: 16px;
 font-family: Abhaya Libre;
 font-weight: 400;
 word-wrap: break-word
---
// Paypal
color: #3C4242;
 font-size: 20px;
 font-family: Actor;
 font-weight: 400;
 word-wrap: break-word
---
// Pay Now
color: white;
 font-size: 18px;
 font-family: Aclonica;
 font-weight: 400;
 word-wrap: break-word
---
// Home
color: #807D7E;
 font-size: 18px;
 font-family: Aclonica;
 font-weight: 400;
 word-wrap: break-word
---
// My Account
color: #807D7E;
 font-size: 18px;
 font-family: Aclonica;
 font-weight: 400;
 word-wrap: break-word
---
// Check Out
color: #3C4242;
 font-size: 18px;
 font-family: Aclonica;
 font-weight: 400;
 word-wrap: break-word
---
// Check Out
color: #3C4242;
 font-size: 28px;
 font-family: Abel;
 font-weight: 400;
 line-height: 33.50px;
 letter-spacing: 0.56px;
 word-wrap: break-word
---
// Billing Details
color: #3C4242;
 font-size: 22px;
 font-family: Abel;
 font-weight: 400;
 line-height: 33.50px;
 letter-spacing: 0.44px;
 word-wrap: break-word

 // Home
color: #807D7E;
 font-size: 18px;
 font-family: Aclonica;
 font-weight: 400;
 word-wrap: break-word
---
// Add To Cart
color: #3C4242;
 font-size: 18px;
 font-family: Aclonica;
 font-weight: 400;
 word-wrap: break-word
---
// Please fill in the fields below and click place order to complete your purchase!
color: #807D7E;
 font-size: 14px;
 font-family: Abhaya Libre;
 font-weight: 400;
 letter-spacing: 0.28px;
 word-wrap: break-word
---
// Already registered?
color: #807D7E;
 font-size: 14px;
 font-family: Abhaya Libre;
 font-weight: 400;
 letter-spacing: 0.28px;
 word-wrap: break-word
---
//  
color: #807D7E;
 font-size: 14px;
 font-family: Aclonica;
 font-weight: 400;
 letter-spacing: 0.28px;
 word-wrap: break-word
---
// Please login here
color: #8A33FD;
 font-size: 14px;
 font-family: Abel;
 font-weight: 400;
 letter-spacing: 0.28px;
 word-wrap: break-word
---
// Product Details
color: white;
 font-size: 18px;
 font-family: Abel;
 font-weight: 400;
 text-transform: uppercase;
 word-wrap: break-word
---
// Price
color: white;
 font-size: 18px;
 font-family: Abel;
 font-weight: 400;
 text-transform: uppercase;
 word-wrap: break-word
---
// Quantity
color: white;
 font-size: 18px;
 font-family: Abel;
 font-weight: 400;
 text-transform: uppercase;
 word-wrap: break-word
---
// shipping
color: white;
 font-size: 18px;
 font-family: Abel;
 font-weight: 400;
 text-transform: uppercase;
 word-wrap: break-word
---
// subtotal
color: white;
 font-size: 18px;
 font-family: Abel;
 font-weight: 400;
 text-transform: uppercase;
 word-wrap: break-word
---
// action
color: white;
 font-size: 18px;
 font-family: Abel;
 font-weight: 400;
 text-transform: uppercase;
 word-wrap: break-word
---
// Image Art<br/>
color: #3C4242;
 font-size: 18px;
 font-family: Actor;
 font-weight: 400;
 letter-spacing: 0.36px;
 word-wrap: break-word
---
// Color : Yellow
color: #807D7E;
 font-size: 14px;
 font-family: Aclonica;
 font-weight: 400;
 word-wrap: break-word
---
// Ksh. 2500
color: #3C4242;
 font-size: 18px;
 font-family: Actor;
 font-weight: 400;
 word-wrap: break-word
---
// Ksh. 2500
color: #3C4242;
 font-size: 18px;
 font-family: Actor;
 font-weight: 400;
 word-wrap: break-word
---
// FREE
color: #BEBCBD;
 font-size: 18px;
 font-family: Actor;
 font-weight: 400;
 letter-spacing: 0.36px;
 word-wrap: break-word
---
// 1
color: #3C4242;
 font-size: 12px;
 font-family: Aclonica;
 font-weight: 400;
 word-wrap: break-word
---
// Sub Total 
color: #3C4242;
 font-size: 22px;
 font-family: Aclonica;
 font-weight: 400;
 letter-spacing: 0.44px;
 word-wrap: break-word
---
// Ksh. 2500
color: #3C4242;
 font-size: 22px;
 font-family: Aclonica;
 font-weight: 400;
 letter-spacing: 0.44px;
 word-wrap: break-word
---
// Shipping
color: #3C4242;
 font-size: 22px;
 font-family: Aclonica;
 font-weight: 400;
 letter-spacing: 0.44px;
 word-wrap: break-word
---
// Ksh. 500
color: #3C4242;
 font-size: 22px;
 font-family: Aclonica;
 font-weight: 400;
 letter-spacing: 0.44px;
 word-wrap: break-word
---
// Grand Total
color: #3C4242;
 font-size: 22px;
 font-family: Actor;
 font-weight: 400;
 letter-spacing: 0.44px;
 word-wrap: break-word
---
// Ksh. 3000
color: #3C4242;
 font-size: 22px;
 font-family: Actor;
 font-weight: 400;
 letter-spacing: 0.44px;
 word-wrap: break-word
---
// Proceed To Checkout
color: white;
 font-size: 18px;
 font-family: Abel;
 font-weight: 400;
 word-wrap: break-word
---
// Discount  Codes
color: #3C4242;
 font-size: 24px;
 font-family: Abel;
 font-weight: 400;
 word-wrap: break-word
---
// Enter your coupon code if you have one
color: #807D7E;
 font-size: 16px;
 font-family: Abhaya Libre;
 font-weight: 400;
 word-wrap: break-word
---
// Apply Coupon
color: white;
 font-size: 16px;
 font-family: Abel;
 font-weight: 400;
 word-wrap: break-word
---
// Continue Shopping
color: #3C4242;
 font-size: 16px;
 font-family: Abel;
 font-weight: 400;
 word-wrap: break-word
---
// android app on
color: white;
 font-size: 10px;
 font-family: Abhaya Libre;
 font-weight: 400;
 word-wrap: break-word
---
// Google Play
color: white;
 font-size: 18px;
 font-family: Abhaya Libre;
 font-weight: 400;
 word-wrap: break-word
---
// Available on the
color: white;
 font-size: 10px;
 font-family: Abhaya Libre;
 font-weight: 400;
 word-wrap: break-word
---
// App Store
color: white;
 font-size: 18px;
 font-family: Abhaya Libre;
 font-weight: 400;
 word-wrap: break-word
---
// Location
color: #F6F6F6;
 font-size: 28.58px;
 font-family: Actor;
 font-weight: 400;
 line-height: 61.99px;
 word-wrap: break-word
---
// support@kibanda.co.ke
color: #F6F6F6;
 font-size: 18px;
 font-family: Aclonica;
 font-weight: 400;
 line-height: 39.04px;
 word-wrap: break-word
---
// Kibanda Cultural Crafts
color: #F6F6F6;
 font-size: 18px;
 font-family: Aclonica;
 font-weight: 400;
 line-height: 39.04px;
 word-wrap: break-word
---
// More Info
color: #F6F6F6;
 font-size: 28.58px;
 font-family: Actor;
 font-weight: 400;
 line-height: 61.99px;
 word-wrap: break-word
---
// Term and Conditions
color: #F6F6F6;
 font-size: 18px;
 font-family: Aclonica;
 font-weight: 400;
 line-height: 39.04px;
 word-wrap: break-word
---
// Privacy Policy
color: #F6F6F6;
 font-size: 18px;
 font-family: Aclonica;
 font-weight: 400;
 line-height: 39.04px;
 word-wrap: break-word
---
// Shipping Policy
color: #F6F6F6;
 font-size: 18px;
 font-family: Aclonica;
 font-weight: 400;
 line-height: 39.04px;
 word-wrap: break-word
---
// Sitemap
color: #F6F6F6;
 font-size: 18px;
 font-family: Aclonica;
 font-weight: 400;
 line-height: 39.04px;
 word-wrap: break-word
---
// Need Help
color: #F6F6F6;
 font-size: 28.58px;
 font-family: Actor;
 font-weight: 400;
 line-height: 61.99px;
 word-wrap: break-word
---
// Contact Us
color: #F6F6F6;
 font-size: 18px;
 font-family: Aclonica;
 font-weight: 400;
 line-height: 39.04px;
 word-wrap: break-word
---
// Track Order
color: #F6F6F6;
 font-size: 18px;
 font-family: Aclonica;
 font-weight: 400;
 line-height: 39.04px;
 word-wrap: break-word
---
// Returns & Refunds
color: #F6F6F6;
 font-size: 18px;
 font-family: Aclonica;
 font-weight: 400;
 line-height: 39.04px;
 word-wrap: break-word
---
// FAQ's
color: #F6F6F6;
 font-size: 18px;
 font-family: Aclonica;
 font-weight: 400;
 line-height: 39.04px;
 word-wrap: break-word
---
// Career
color: #F6F6F6;
 font-size: 18px;
 font-family: Aclonica;
 font-weight: 400;
 line-height: 39.04px;
 word-wrap: break-word
---
// Company
color: #F6F6F6;
 font-size: 28.58px;
 font-family: Actor;
 font-weight: 400;
 line-height: 61.99px;
 word-wrap: break-word
---
// About Us
color: #F6F6F6;
 font-size: 18px;
 font-family: Aclonica;
 font-weight: 400;
 line-height: 39.04px;
 word-wrap: break-word
---
// Download The App 
color: #F6F6F6;
 font-size: 28.58px;
 font-family: Actor;
 font-weight: 400;
 line-height: 61.99px;
 word-wrap: break-word
---
// Popular Categories
color: #F6F6F6;
 font-size: 28.58px;
 font-family: Actor;
 font-weight: 400;
 line-height: 57.16px;
 word-wrap: break-word
---
// in
color: #2A2F2F;
 font-size: 17.09px;
 font-family: Roboto;
 font-weight: 700;
 line-height: 28.48px;
 letter-spacing: 0.34px;
 word-wrap: break-word
---
// Copyright © 2023 Kibanda  Cultural Crafts Ltd. All rights reserved.
color: white;
 font-size: 18px;
 font-family: Actor;
 font-weight: 400;
 line-height: 36px;
 word-wrap: break-word
---
// Search
color: #807D7E;
 font-size: 16px;
 font-family: Roboto Serif;
 font-weight: 400;
 word-wrap: break-word
---
// Shop
color: #3C4242;
 font-size: 22px;
 font-family: Roboto Serif;
 font-weight: 400;
 word-wrap: break-word
---
// Gifts
color: #807D7E;
 font-size: 22px;
 font-family: Roboto Serif;
 font-weight: 400;
 word-wrap: break-word
---
// Specials
color: #807D7E;
 font-size: 22px;
 font-family: Roboto Serif;
 font-weight: 400;
 word-wrap: break-word
---
// Carvings
color: #807D7E;
 font-size: 22px;
 font-family: Roboto Serif;
 font-weight: 400;
 word-wrap: break-word
---
// Kibanda Cultural Crafts
color: #3C4242;
 font-size: 34.06px;
 font-family: Roboto Serif;
 font-weight: 400;
 word-wrap: break-word
---
// Unveiling the Soul of African Artistry
color: black;
 font-size: 10px;
 font-family: Roboto Serif;
 font-weight: 400;
 word-wrap: break-word

 // android app on
color: white;
 font-size: 10px;
 font-family: Abhaya Libre;
 font-weight: 400;
 word-wrap: break-word
---
// Google Play
color: white;
 font-size: 18px;
 font-family: Abhaya Libre;
 font-weight: 400;
 word-wrap: break-word
---
// Available on the
color: white;
 font-size: 10px;
 font-family: Abhaya Libre;
 font-weight: 400;
 word-wrap: break-word
---
// App Store
color: white;
 font-size: 18px;
 font-family: Abhaya Libre;
 font-weight: 400;
 word-wrap: break-word
---
// Location
color: #F6F6F6;
 font-size: 28.58px;
 font-family: Actor;
 font-weight: 400;
 line-height: 61.99px;
 word-wrap: break-word
---
// support@kibanda.co.ke
color: #F6F6F6;
 font-size: 18px;
 font-family: Aclonica;
 font-weight: 400;
 line-height: 39.04px;
 word-wrap: break-word
---
// Kibanda Cultural Crafts
color: #F6F6F6;
 font-size: 18px;
 font-family: Aclonica;
 font-weight: 400;
 line-height: 39.04px;
 word-wrap: break-word
---
// More Info
color: #F6F6F6;
 font-size: 28.58px;
 font-family: Actor;
 font-weight: 400;
 line-height: 61.99px;
 word-wrap: break-word
---
// Term and Conditions
color: #F6F6F6;
 font-size: 18px;
 font-family: Aclonica;
 font-weight: 400;
 line-height: 39.04px;
 word-wrap: break-word
---
// Privacy Policy
color: #F6F6F6;
 font-size: 18px;
 font-family: Aclonica;
 font-weight: 400;
 line-height: 39.04px;
 word-wrap: break-word
---
// Shipping Policy
color: #F6F6F6;
 font-size: 18px;
 font-family: Aclonica;
 font-weight: 400;
 line-height: 39.04px;
 word-wrap: break-word
---
// Sitemap
color: #F6F6F6;
 font-size: 18px;
 font-family: Aclonica;
 font-weight: 400;
 line-height: 39.04px;
 word-wrap: break-word
---
// Need Help
color: #F6F6F6;
 font-size: 28.58px;
 font-family: Actor;
 font-weight: 400;
 line-height: 61.99px;
 word-wrap: break-word
---
// Contact Us
color: #F6F6F6;
 font-size: 18px;
 font-family: Aclonica;
 font-weight: 400;
 line-height: 39.04px;
 word-wrap: break-word
---
// Track Order
color: #F6F6F6;
 font-size: 18px;
 font-family: Aclonica;
 font-weight: 400;
 line-height: 39.04px;
 word-wrap: break-word
---
// Returns & Refunds
color: #F6F6F6;
 font-size: 18px;
 font-family: Aclonica;
 font-weight: 400;
 line-height: 39.04px;
 word-wrap: break-word
---
// FAQ's
color: #F6F6F6;
 font-size: 18px;
 font-family: Aclonica;
 font-weight: 400;
 line-height: 39.04px;
 word-wrap: break-word
---
// Career
color: #F6F6F6;
 font-size: 18px;
 font-family: Aclonica;
 font-weight: 400;
 line-height: 39.04px;
 word-wrap: break-word
---
// Company
color: #F6F6F6;
 font-size: 28.58px;
 font-family: Actor;
 font-weight: 400;
 line-height: 61.99px;
 word-wrap: break-word
---
// About Us
color: #F6F6F6;
 font-size: 18px;
 font-family: Aclonica;
 font-weight: 400;
 line-height: 39.04px;
 word-wrap: break-word
---
// Download The App 
color: #F6F6F6;
 font-size: 28.58px;
 font-family: Actor;
 font-weight: 400;
 line-height: 61.99px;
 word-wrap: break-word
---
// Popular Categories
color: #F6F6F6;
 font-size: 28.58px;
 font-family: Actor;
 font-weight: 400;
 line-height: 57.16px;
 word-wrap: break-word
---
// in
color: #2A2F2F;
 font-size: 17.09px;
 font-family: Roboto;
 font-weight: 700;
 line-height: 28.48px;
 letter-spacing: 0.34px;
 word-wrap: break-word
---
// Copyright © 2023 Kibanda Cultural Crafts Ltd. All rights reserved.
color: white;
 font-size: 18px;
 font-family: Actor;
 font-weight: 400;
 line-height: 36px;
 word-wrap: break-word
---
// GIFTS
color: #3C4242;
 font-size: 34px;
 font-family: Abel;
 font-weight: 400;
 line-height: 33.50px;
 letter-spacing: 0.68px;
 word-wrap: break-word
---
// African Carving
color: #2A2F2F;
 font-size: 17.88px;
 font-family: Actor;
 font-weight: 400;
 line-height: 27.93px;
 word-wrap: break-word
---
// Explore Now!
color: #7F7F7F;
 font-size: 13.41px;
 font-family: Aclonica;
 font-weight: 400;
 line-height: 27.93px;
 word-wrap: break-word
---
// Charm Necklace
color: #2A2F2F;
 font-size: 17.88px;
 font-family: Actor;
 font-weight: 400;
 line-height: 27.93px;
 word-wrap: break-word
---
// Explore Now!
color: #7F7F7F;
 font-size: 13.41px;
 font-family: Aclonica;
 font-weight: 400;
 line-height: 27.93px;
 word-wrap: break-word
---
// Giraffe Carving
color: #2A2F2F;
 font-size: 17.88px;
 font-family: Actor;
 font-weight: 400;
 line-height: 27.93px;
 word-wrap: break-word
---
// Explore Now!
color: #7F7F7F;
 font-size: 13.41px;
 font-family: Aclonica;
 font-weight: 400;
 line-height: 27.93px;
 word-wrap: break-word
---
// Ubuntu Stool
color: #2A2F2F;
 font-size: 17.88px;
 font-family: Actor;
 font-weight: 400;
 line-height: 27.93px;
 word-wrap: break-word
---
// Explore Now!
color: #7F7F7F;
 font-size: 13.41px;
 font-family: Aclonica;
 font-weight: 400;
 line-height: 27.93px;
 word-wrap: break-word
---
// UNVEILING AFRICA'S ESSENCE!<br/>
color: white;
 font-size: 34px;
 font-family: Abel;
 font-weight: 400;
 line-height: 50px;
 letter-spacing: 0.21px;
 word-wrap: break-word
---
// Embark on a cultural odyssey with Kibanda Cultural Crafts - Authentic treasures celebrating Africa's rich heritage & craftsmanship.
color: white;
 font-size: 20px;
 font-family: Alef;
 font-weight: 700;
 letter-spacing: 1px;
 word-wrap: break-word
---
// Shop Now
color: #3C4242;
 font-size: 18px;
 font-family: Abel;
 font-weight: 400;
 word-wrap: break-word
---
// Big Saving Zone
color: #3C4242;
 font-size: 34px;
 font-family: Abel;
 font-weight: 400;
 line-height: 33.50px;
 letter-spacing: 0.68px;
 word-wrap: break-word
---
// Limited Stock
color: white;
 font-size: 12px;
 font-family: Actor;
 font-weight: 400;
 word-wrap: break-word
---
// Custom Made Comfy stool
color: black;
 font-size: 28px;
 font-family: Abel;
 font-weight: 400;
 line-height: 38.43px;
 letter-spacing: 0.56px;
 word-wrap: break-word
---
// Image Art
color: black;
 font-size: 24px;
 font-family: Actor;
 font-weight: 400;
 word-wrap: break-word
---
// New Arrival
color: #3C4242;
 font-size: 34px;
 font-family: Abel;
 font-weight: 400;
 line-height: 33.50px;
 letter-spacing: 0.68px;
 word-wrap: break-word
---
// Wristbands
color: #3C4242;
 font-size: 20px;
 font-family: Actor;
 font-weight: 400;
 letter-spacing: 0.20px;
 word-wrap: break-word
---
// Rhino
color: #3C4242;
 font-size: 20px;
 font-family: Actor;
 font-weight: 400;
 letter-spacing: 0.20px;
 word-wrap: break-word
---
// Girraffe
color: #3C4242;
 font-size: 20px;
 font-family: Actor;
 font-weight: 400;
 letter-spacing: 0.20px;
 word-wrap: break-word
---
// Plates
color: #3C4242;
 font-size: 20px;
 font-family: Actor;
 font-weight: 400;
 letter-spacing: 0.20px;
 word-wrap: break-word
---
// Best Sellers
color: #3C4242;
 font-size: 34px;
 font-family: Abel;
 font-weight: 400;
 line-height: 33.50px;
 letter-spacing: 0.68px;
 word-wrap: break-word
---
// Shop Now
color: #3C4242;
 font-size: 24px;
 font-family: Actor;
 font-weight: 400;
 word-wrap: break-word
---
// Africa’s<br/>Premier Souvenier Online store
color: #EBFF00;
 font-size: 78px;
 font-family: Abel;
 font-weight: 400;
 line-height: 93.62px;
 letter-spacing: 0.31px;
 word-wrap: break-word
---
// Search
color: #807D7E;
 font-size: 16px;
 font-family: Roboto Serif;
 font-weight: 400;
 word-wrap: break-word
---
// Shop
color: #3C4242;
 font-size: 22px;
 font-family: Roboto Serif;
 font-weight: 400;
 word-wrap: break-word
---
// Gifts
color: #807D7E;
 font-size: 22px;
 font-family: Roboto Serif;
 font-weight: 400;
 word-wrap: break-word
---
// Specials
color: #807D7E;
 font-size: 22px;
 font-family: Roboto Serif;
 font-weight: 400;
 word-wrap: break-word
---
// Carvings
color: #807D7E;
 font-size: 22px;
 font-family: Roboto Serif;
 font-weight: 400;
 word-wrap: break-word
---
// Kibanda Cultural Crafts
color: #3C4242;
 font-size: 34.06px;
 font-family: Roboto Serif;
 font-weight: 400;
 word-wrap: break-word
---
// Unveiling the Soul of African Artistry
color: black;
 font-size: 10px;
 font-family: Roboto Serif;
 font-weight: 400;
 word-wrap: break-word

 // Sign In Page
color: #333333;
 font-size: 34px;
 font-family: Roboto Serif;
 font-style: italic;
 font-weight: 100;
 letter-spacing: 0.68px;
 word-wrap: break-word
---
// Continue With Google
color: #8A33FD;
 font-size: 22px;
 font-family: Roboto Serif;
 font-weight: 500;
 word-wrap: break-word
---
// OR
color: #666666;
 font-size: 18px;
 font-family: Roboto Serif;
 font-style: italic;
 font-weight: 100;
 word-wrap: break-word
---
// User name or email address
color: #3C4242;
 font-size: 18px;
 font-family: Roboto Serif;
 font-weight: 400;
 letter-spacing: 0.36px;
 word-wrap: break-word
---
// Forget your password
color: #3C4242;
 font-size: 16px;
 font-family: Roboto Serif;
 font-weight: 400;
 text-decoration: underline;
 word-wrap: break-word
---
// Password
color: #3C4242;
 font-size: 18px;
 font-family: Roboto Serif;
 font-weight: 400;
 letter-spacing: 0.36px;
 word-wrap: break-word
---
// Hide
color: #807D7E;
 font-size: 18px;
 font-family: Roboto Serif;
 font-weight: 400;
 word-wrap: break-word
---
// Sign In
color: white;
 font-size: 18px;
 font-family: Roboto Serif;
 font-weight: 500;
 word-wrap: break-word
---
// Don’t have an account? 
color: #3C4242;
 font-size: 16px;
 font-family: Roboto Serif;
 font-weight: 400;
 word-wrap: break-word
---
// Sign up  
color: #3C4242;
 font-size: 16px;
 font-family: Roboto Serif;
 font-weight: 400;
 text-decoration: underline;
 word-wrap: break-word
---
// Search
color: #807D7E;
 font-size: 16px;
 font-family: Roboto Serif;
 font-weight: 400;
 word-wrap: break-word
---
// Shop
color: #3C4242;
 font-size: 22px;
 font-family: Roboto Serif;
 font-weight: 400;
 word-wrap: break-word
---
// Gifts
color: #807D7E;
 font-size: 22px;
 font-family: Roboto Serif;
 font-weight: 400;
 word-wrap: break-word
---
// Specials
color: #807D7E;
 font-size: 22px;
 font-family: Roboto Serif;
 font-weight: 400;
 word-wrap: break-word
---
// Carvings
color: #807D7E;
 font-size: 22px;
 font-family: Roboto Serif;
 font-weight: 400;
 word-wrap: break-word
---
// Kibanda Cultural Crafts
color: #3C4242;
 font-size: 34.06px;
 font-family: Roboto Serif;
 font-weight: 400;
 word-wrap: break-word
---
// Unveiling the Soul of African Artistry
color: black;
 font-size: 10px;
 font-family: Roboto Serif;
 font-weight: 400;
 word-wrap: break-word

 // android app on
color: white;
 font-size: 10px;
 font-family: Abhaya Libre;
 font-weight: 400;
 word-wrap: break-word
---
// Google Play
color: white;
 font-size: 18px;
 font-family: Abhaya Libre;
 font-weight: 400;
 word-wrap: break-word
---
// Available on the
color: white;
 font-size: 10px;
 font-family: Abhaya Libre;
 font-weight: 400;
 word-wrap: break-word
---
// App Store
color: white;
 font-size: 18px;
 font-family: Abhaya Libre;
 font-weight: 400;
 word-wrap: break-word
---
// Location
color: #F6F6F6;
 font-size: 28.58px;
 font-family: Actor;
 font-weight: 400;
 line-height: 61.99px;
 word-wrap: break-word
---
// support@kibanda.co.ke
color: #F6F6F6;
 font-size: 18px;
 font-family: Aclonica;
 font-weight: 400;
 line-height: 39.04px;
 word-wrap: break-word
---
// Kibanda Cultural Crafts
color: #F6F6F6;
 font-size: 18px;
 font-family: Aclonica;
 font-weight: 400;
 line-height: 39.04px;
 word-wrap: break-word
---
// More Info
color: #F6F6F6;
 font-size: 28.58px;
 font-family: Actor;
 font-weight: 400;
 line-height: 61.99px;
 word-wrap: break-word
---
// Term and Conditions
color: #F6F6F6;
 font-size: 18px;
 font-family: Aclonica;
 font-weight: 400;
 line-height: 39.04px;
 word-wrap: break-word
---
// Privacy Policy
color: #F6F6F6;
 font-size: 18px;
 font-family: Aclonica;
 font-weight: 400;
 line-height: 39.04px;
 word-wrap: break-word
---
// Shipping Policy
color: #F6F6F6;
 font-size: 18px;
 font-family: Aclonica;
 font-weight: 400;
 line-height: 39.04px;
 word-wrap: break-word
---
// Sitemap
color: #F6F6F6;
 font-size: 18px;
 font-family: Aclonica;
 font-weight: 400;
 line-height: 39.04px;
 word-wrap: break-word
---
// Need Help
color: #F6F6F6;
 font-size: 28.58px;
 font-family: Actor;
 font-weight: 400;
 line-height: 61.99px;
 word-wrap: break-word
---
// Contact Us
color: #F6F6F6;
 font-size: 18px;
 font-family: Aclonica;
 font-weight: 400;
 line-height: 39.04px;
 word-wrap: break-word
---
// Track Order
color: #F6F6F6;
 font-size: 18px;
 font-family: Aclonica;
 font-weight: 400;
 line-height: 39.04px;
 word-wrap: break-word
---
// Returns & Refunds
color: #F6F6F6;
 font-size: 18px;
 font-family: Aclonica;
 font-weight: 400;
 line-height: 39.04px;
 word-wrap: break-word
---
// FAQ's
color: #F6F6F6;
 font-size: 18px;
 font-family: Aclonica;
 font-weight: 400;
 line-height: 39.04px;
 word-wrap: break-word
---
// Career
color: #F6F6F6;
 font-size: 18px;
 font-family: Aclonica;
 font-weight: 400;
 line-height: 39.04px;
 word-wrap: break-word
---
// Company
color: #F6F6F6;
 font-size: 28.58px;
 font-family: Actor;
 font-weight: 400;
 line-height: 61.99px;
 word-wrap: break-word
---
// About Us
color: #F6F6F6;
 font-size: 18px;
 font-family: Aclonica;
 font-weight: 400;
 line-height: 39.04px;
 word-wrap: break-word
---
// Download The App 
color: #F6F6F6;
 font-size: 28.58px;
 font-family: Actor;
 font-weight: 400;
 line-height: 61.99px;
 word-wrap: break-word
---
// Popular Categories
color: #F6F6F6;
 font-size: 28.58px;
 font-family: Actor;
 font-weight: 400;
 line-height: 57.16px;
 word-wrap: break-word
---
// in
color: #2A2F2F;
 font-size: 17.09px;
 font-family: Roboto;
 font-weight: 700;
 line-height: 28.48px;
 letter-spacing: 0.34px;
 word-wrap: break-word
---
// Copyright © 2023 Kibanda Cultural Crafts Ltd. All rights reserved.
color: white;
 font-size: 18px;
 font-family: Actor;
 font-weight: 400;
 line-height: 36px;
 word-wrap: break-word
---
// GIFTS
color: #3C4242;
 font-size: 34px;
 font-family: Abel;
 font-weight: 400;
 line-height: 33.50px;
 letter-spacing: 0.68px;
 word-wrap: break-word
---
// African Carving
color: #2A2F2F;
 font-size: 17.88px;
 font-family: Actor;
 font-weight: 400;
 line-height: 27.93px;
 word-wrap: break-word
---
// Explore Now!
color: #7F7F7F;
 font-size: 13.41px;
 font-family: Aclonica;
 font-weight: 400;
 line-height: 27.93px;
 word-wrap: break-word
---
// Charm Necklace
color: #2A2F2F;
 font-size: 17.88px;
 font-family: Actor;
 font-weight: 400;
 line-height: 27.93px;
 word-wrap: break-word
---
// Explore Now!
color: #7F7F7F;
 font-size: 13.41px;
 font-family: Aclonica;
 font-weight: 400;
 line-height: 27.93px;
 word-wrap: break-word
---
// Giraffe Carving
color: #2A2F2F;
 font-size: 17.88px;
 font-family: Actor;
 font-weight: 400;
 line-height: 27.93px;
 word-wrap: break-word
---
// Explore Now!
color: #7F7F7F;
 font-size: 13.41px;
 font-family: Aclonica;
 font-weight: 400;
 line-height: 27.93px;
 word-wrap: break-word
---
// Ubuntu Stool
color: #2A2F2F;
 font-size: 17.88px;
 font-family: Actor;
 font-weight: 400;
 line-height: 27.93px;
 word-wrap: break-word
---
// Explore Now!
color: #7F7F7F;
 font-size: 13.41px;
 font-family: Aclonica;
 font-weight: 400;
 line-height: 27.93px;
 word-wrap: break-word
---
// UNVEILING AFRICA'S ESSENCE!<br/>
color: white;
 font-size: 34px;
 font-family: Abel;
 font-weight: 400;
 line-height: 50px;
 letter-spacing: 0.21px;
 word-wrap: break-word
---
// Embark on a cultural odyssey with Kibanda Cultural Crafts - Authentic treasures celebrating Africa's rich heritage & craftsmanship.
color: white;
 font-size: 20px;
 font-family: Alef;
 font-weight: 700;
 letter-spacing: 1px;
 word-wrap: break-word
---
// Shop Now
color: #3C4242;
 font-size: 18px;
 font-family: Abel;
 font-weight: 400;
 word-wrap: break-word
---
// Big Saving Zone
color: #3C4242;
 font-size: 34px;
 font-family: Abel;
 font-weight: 400;
 line-height: 33.50px;
 letter-spacing: 0.68px;
 word-wrap: break-word
---
// Limited Stock
color: white;
 font-size: 12px;
 font-family: Actor;
 font-weight: 400;
 word-wrap: break-word
---
// Custom Made Comfy stool
color: black;
 font-size: 28px;
 font-family: Abel;
 font-weight: 400;
 line-height: 38.43px;
 letter-spacing: 0.56px;
 word-wrap: break-word
---
// Image Art
color: black;
 font-size: 24px;
 font-family: Actor;
 font-weight: 400;
 word-wrap: break-word
---
// New Arrival
color: #3C4242;
 font-size: 34px;
 font-family: Abel;
 font-weight: 400;
 line-height: 33.50px;
 letter-spacing: 0.68px;
 word-wrap: break-word
---
// Wristbands
color: #3C4242;
 font-size: 20px;
 font-family: Actor;
 font-weight: 400;
 letter-spacing: 0.20px;
 word-wrap: break-word
---
// Rhino
color: #3C4242;
 font-size: 20px;
 font-family: Actor;
 font-weight: 400;
 letter-spacing: 0.20px;
 word-wrap: break-word
---
// Girraffe
color: #3C4242;
 font-size: 20px;
 font-family: Actor;
 font-weight: 400;
 letter-spacing: 0.20px;
 word-wrap: break-word
---
// Plates
color: #3C4242;
 font-size: 20px;
 font-family: Actor;
 font-weight: 400;
 letter-spacing: 0.20px;
 word-wrap: break-word
---
// Best Sellers
color: #3C4242;
 font-size: 34px;
 font-family: Abel;
 font-weight: 400;
 line-height: 33.50px;
 letter-spacing: 0.68px;
 word-wrap: break-word
---
// Shop Now
color: #3C4242;
 font-size: 24px;
 font-family: Actor;
 font-weight: 400;
 word-wrap: break-word
---
// Africa’s<br/>Premier Souvenier Online store
color: #EBFF00;
 font-size: 78px;
 font-family: Abel;
 font-weight: 400;
 line-height: 93.62px;
 letter-spacing: 0.31px;
 word-wrap: break-word
---
// Search
color: #807D7E;
 font-size: 16px;
 font-family: Roboto Serif;
 font-weight: 400;
 word-wrap: break-word
---
// Shop
color: #3C4242;
 font-size: 22px;
 font-family: Roboto Serif;
 font-weight: 400;
 word-wrap: break-word
---
// Gifts
color: #807D7E;
 font-size: 22px;
 font-family: Roboto Serif;
 font-weight: 400;
 word-wrap: break-word
---
// Specials
color: #807D7E;
 font-size: 22px;
 font-family: Roboto Serif;
 font-weight: 400;
 word-wrap: break-word
---
// Carvings
color: #807D7E;
 font-size: 22px;
 font-family: Roboto Serif;
 font-weight: 400;
 word-wrap: break-word
---
// Kibanda Cultural Crafts
color: #3C4242;
 font-size: 34.06px;
 font-family: Roboto Serif;
 font-weight: 400;
 word-wrap: break-word
---
// Unveiling the Soul of African Artistry
color: black;
 font-size: 10px;
 font-family: Roboto Serif;
 font-weight: 400;
 word-wrap: break-word